# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies & Build Outputs
node_modules
dist
dist-ssr
*.local

# Environment & Local Data
.env
.env.*
.env.local
.data/
.tempmediaStorage/

# Temp Task Docs
G0_*.md
G1_*.md
G2_*.md
P0_*.md

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
node_modules
